[submodule "system/systems-seminar-uiuc.github.io"]
	path = system/systems-seminar-uiuc.github.io
	url = https://github.com/systems-seminar-uiuc/systems-seminar-uiuc.github.io.git
[submodule "system/distributed system/awesome-distributed-systems"]
	path = system/distributed system/awesome-distributed-systems
	url = https://github.com/theanalyst/awesome-distributed-systems.git
[submodule "system/distributed system/distributed-consensus-reading-list"]
	path = system/distributed system/distributed-consensus-reading-list
	url = https://github.com/heidihoward/distributed-consensus-reading-list.git
[submodule "database/db-readings"]
	path = database/db-readings
	url = https://github.com/rxin/db-readings.git
[submodule "misc/awesome-courses"]
	path = misc/awesome-courses
	url = https://github.com/prakhar1989/awesome-courses.git
[submodule "sysml/Readings_MLDB"]
	path = sysml/Readings_MLDB
	url = https://github.com/jinw18/Readings_MLDB.git
[submodule "sysml/eecs598"]
	path = sysml/eecs598
	url = https://github.com/mosharaf/eecs598.git
[submodule "networking/eecs489"]
	path = networking/eecs489
	url = https://github.com/mosharaf/eecs489.git
[submodule "crypto/blockchain/blockchain-papers"]
	path = crypto/blockchain/blockchain-papers
	url = https://github.com/decrypto-org/blockchain-papers.git
[submodule "security and privacy/6.858-lecture-notes"]
	path = security and privacy/6.858-lecture-notes
	url = https://github.com/alinush/6.858-lecture-notes.git
[submodule "crypto/blockchain/Top-Blockchain-paper"]
	path = crypto/blockchain/Top-Blockchain-paper
	url = https://github.com/baozjian/Top-Blockchain-paper.git
[submodule "database/asciiclass"]
	path = database/asciiclass
	url = https://github.com/mitdbg/asciiclass.git
	branch = master
[submodule "crypto/sgx-papers"]
	path = crypto/sgx-papers
	url = https://github.com/vschiavoni/sgx-papers.git
	branch = master
[submodule "crypto/Awesome-Privacy"]
	path = crypto/Awesome-Privacy
	url = https://github.com/Guyanqi/Awesome-Privacy.git
	branch = master
[submodule "crypto/sgx-tutorial-space18"]
	path = crypto/sgx-tutorial-space18
	url = https://github.com/jovanbulck/sgx-tutorial-space18.git
	branch = master
[submodule "crypto/SGX/sgx-step"]
	path = crypto/SGX/sgx-step
	url = https://github.com/jovanbulck/sgx-step.git
	branch = master
